[Unit]
Description=Sfizz %i
After=sound.target local-fs.target jack.service
BindsTo=jack.service
Requires=sfizz@%i.socket

[Service]
Type=simple
ExecStart=/bin/bash -c 'sfizz_jack --client_name %i'
Sockets=sfizz@%i.socket
StandardInput=fd:sfizz@%i.socket
StandardOutput=journal
StandardError=journal
TimeoutSec=3

[Install]
WantedBy=default.target jack.service
