{% extends "base_invoice.template.html" %}

{% block table %}
      <div class="row invoice-table">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <table class="inventory">
                  <thead>
                    <tr>
                      <th class="period"><span>Period</span></th>
                      <th class="description"><span>Description</span></th>
                      <th class="quantity"><span>Qty</span></th>
                      <th class="amount"><span>Amount</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in items -%}
                    <tr>
                      <td class="period"> <span>{{ item.period }}</span> </td>
                      <td class="description"><span>{{ item.description }}</span></td>
                      <td class="quantity"><span>{{ item.quantity }}{{ item.unit }}</span></td>
                      <td class="amount"><span>{{ item.amounts.net }}</span><span data-prefix>{{ item.amounts.currencySymbol }}</span></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="box">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="box">
                <table class="balance">
                  <tr>
                    <th><span>Period</span></th>
                    <td><span>{{ period }}</span></td>
                  </tr>
                  <tr>
                    <th><span>Total hours</span></th>
                    <td><span>{{ quantity }}h</span></td>
                  </tr>
                  <tr>
                    <th><span>Subtotal</span></th>
                    <td><span>{{ amounts.net }}</span><span data-prefix>{{ amounts.currencySymbol }}</span></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock table %}
