[Unit]
Description=JACK server
Documentation=man:jackd(1)
After=sound.target local-fs.target

[Service]
Type=simple
ExecStart=/bin/bash %h/Projects/osc-listener/start_jack_direct.sh
LimitRTPRIO=95
LimitRTTIME=infinity
LimitMEMLOCK=infinity

[Install]
WantedBy=default.target
